<input [(ngModel)]="searchInput" type="text" placeholder="Search..." (input)="onChange($event)"/>

<table *ngIf="events.length != 0">
  <tr>
    <th>Name</th>
    <th>Videos</th>
    <th>Location</th>
    <th (click)="sortEvents()">Participants</th>
    <th>Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <ng-container *ngFor="let event of events; index as i;">
    <tr>
      <td width="25%">
        <a href="https://residentadvisor.net/events/{{event.eventNum}}" target="_blank">{{event.name}}</a>
      </td>
      <td width="15%">
        {{event.videos.length}}
      </td>
      <td width="17%">
        {{event.location}}
      </td>
      <td width="15%">
        {{event.participants}}
      </td>
      <td width="15%">
        {{event.date.toString().substring(0, 4)}}/{{event.date.toString().substring(4, 6)}}/{{event.date.toString().substring(6, 8)}}
      </td>
      <td width="3%">
        <fa *ngIf="event.watch" name="times" class="trash" (click)="toggleWatch(i)"></fa>
        <fa *ngIf="!event.watch" name="check" class="watch" (click)="toggleWatch(i)"></fa>
      </td>
      <td width="5%">
        <fa name="info-circle" class="info" (click)="openDetail(i)"></fa>
      </td>
      <td width="5%">
        <fa name="trash" class="trash" (click)="endEvent(i)"></fa>
      </td>
    </tr>
  </ng-container>
</table>

<div class="no-events" *ngIf="events.length == 0">
  There are no past events
</div>
