table {
  max-height: 470px;
  overflow: auto;
  min-width: 340px;
  width: 90%;
  margin-left: 20px;
}

tr {
  border-bottom: 1px solid #ddd;
}

input {
  margin: 20px;
  width: 40%;
}

.trash {
  cursor: pointer;
  color: red;
}

.info {
  cursor: pointer;
  color: blue;
}

.watch {
  cursor: pointer;
  color: green;
}
