table {
  max-height: 470px;
  overflow: auto;
  width: 45%;
  margin-top: 20px;
  margin-left: 20px;
}

tr {
  border-bottom: 1px solid #ddd;
}

.add {
  cursor: pointer;
}

.trash {
  cursor: pointer;
  color: red;
}
