table {
  max-height: 470px;
  overflow: auto;
  width: 90%;
  margin: 20px;
}

tr {
  border-bottom: 1px solid #ddd;
}

input {
  margin-right: 10px;
}

.add {
  cursor: pointer;
}

.trash {
  cursor: pointer;
  color: red;
}
